.code-section {
  height: 100vh;
	display: flex;
  padding-top: 93px;
  
  padding-top: 96px;

	@media (max-width: $screen-sm) {
		padding-top: 46px;
	}
}

.code-container {
	margin: 0 auto;
	max-width: 328px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.code-monkey {
	width: 154px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 43px;
}

.code-telephone {
	text-align: center;
	font-size: 29px;
	margin-bottom: 14px;
  line-height: 1;
  display: flex;
  align-items: center;

  .number {
    margin-right: 10px;
  }
}

.code-text {
	text-align: center;
	margin: 0 38px 42px;
	color: $tl-dark-gray;
}