.login-section {
	height: 100vh;
	display: flex;
	padding-top: 93px;
}

.login-container {
	margin: 0 auto;
	max-width: 328px;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.login-logo {
	width: 154px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 43px;
}

.login-title {
	text-align: center;
	font-size: 29px;
	margin-bottom: 14px;
	line-height: 1;
}

.login-text {
	text-align: center;
	margin: 0 38px 42px;
	color: #ccc;
}

.login-select {
	width: 100%;
	margin-bottom: 20px;
	position: relative;

	.login-input {
		margin-bottom: 10px;
		overflow: hidden;
	}

	&__country-select {
		opacity: 0;
		z-index: -1;
		transition: all .3s ease;
		border: 1px solid #ccc;
		border-radius: 9px;
		max-height: 200px;
		position: absolute;
		background-color: white;
		overflow-y: scroll;
		box-shadow: 1px 7px 9px 0px #ccc;

		&.show {
			opacity: 1;
			z-index: 999;
		}

		&::-webkit-scrollbar {
			width: 0;
		}

		& ul li {
			display: flex;
			justify-content: space-between;
			padding: 5px 10px;

			& * {
				pointer-events: none;
			}

			& .code {
				color: #ccc;
				font-size: 14px;
			}

			&:hover {
				background-color: #f4f4f5;
			}
		}

		select {
			width: 100%;
			display: block;
		}
	}
}

.login-input {
	width: 100%;
	margin-bottom: 22px;

	input {
		width: 100%;
		border: 1px solid #ccc;
		border-radius: 9px;
		padding: 14px 12px;
		transition: border-color .3s ease;
		height: 50px;

		&:hover {
			border-color: #000;
		}

		&:focus {
			border-color: #4ea4f6;
			border-width: 2px;
		}

		&::placeholder {
			color: #ccc;
		}
	}
}

.login-checkbox {
	align-self: flex-start;
	display: block;
	width: 100%;
	display: block;
	position: relative;
	padding-left: 48px;
	margin-left: 16px;
	margin-bottom: 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	label {
		margin-left: 32px;
	}

	.checkmark {
		position: absolute;
		top: 2px;
		left: 0;
		height: 17px;
		width: 17px;
		border: 2px solid #ccc;
		border-radius: 3px;

		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 3px;
			top: -2px;
			width: 4px;
			height: 11px;
			border: solid white;
			border-width: 0 3px 3px 0;
			border-radius: 0px 3px 0px 3px;
			transform: rotate(45deg);
		}
	}

	input:checked ~ .checkmark {
		background-color: #4ea4f6;
		border-color: #4ea4f6;

		&:after {
			border-color: white;
		}
	}

	input:checked ~ .checkmark:after {
		display: block;
	}
}
