.tl-input {
	width: 100%;
	position: relative;

	input {
		width: 100%;
		border: 1px solid $tl-gray;
		border-radius: $border-radius;
		padding: 14px 12px;
		transition: border-color .3s ease;
		height: 50px;
		caret-color : $tl-blue;

		&:hover {
			border-color: #000;
		}

		&:focus {
			border-color: $tl-blue;
			border-width: 2px;
		}

		&::placeholder {
			color: $tl-gray;
		}
	}

	.placeholder {
		position: absolute;
    transform: translate(0, -50%);
		left: 15px;
		transition: all .3s ease, background-color .1s ease .2s;
    white-space: nowrap;
		pointer-events: none;
		line-height: 4px;
	}

	&:not(.empty).focused .placeholder {
		color: $tl-blue;
	}
	&:not(.empty) .placeholder {
		top: 1px;
		font-size: 12px;
		background-color: white;
		padding: 0 5px;
		color: $tl-dark-gray;
	}

	&.empty .placeholder {
		top: 50%;
		width: 85%;
		color: $tl-gray;
	}
}
