$app-max-width: 1202px;

$base-font: 'Roboto';
$title-padding: 3em;

// colors
$tl-blue: #4EA4F6;
$tl-dark-blue: #4797E2;
$tl-gray: #E1E3E6;
$tl-light-gray: #f4f4f5;
$tl-dark-gray: #A8AFB3;
$tl-red: #E53935;
$tl-green: #26962F;

// forms
$border-radius: 9px;

// grid
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xs: 1200px;