$app-max-width: 1202px;

$base-font: 'Roboto';
$title-padding: 3em;

// colors
$tl-blue: #4EA4F6;
$tl-dark-blue: #4797E2;
$gray: #E1E3E6;
$light-gray: #f4f4f5;
$dark-gray: #A8AFB3;

// forms
$border-radius: 9px;